.certificados{
    background-color: rgb(50, 50, 50);
    display: flex;
    padding-top: 7vh;
    padding-bottom: 7vh;
    justify-content: center;
}

.certificados h1, .certificados h2{
    font-family: 'Pixelify Sans', cursive;
    font-weight: 500;
    color: rgb(0, 128, 0);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.certificados h1{
    font-size: 3.5em;
}

.certificados h2{
    font-size: 2em;
}