.home{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, rgb(147, 225, 216) 50%, rgb(2, 128, 144) 53%);
}

.home img{
    height: 70%;
    margin-left: 0;
    margin-right: 15%;
}
  
.name {
    color: rgb(0, 0, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    font-size: 4em;
    margin: 0;
}

.name::after{
    content: '';
    border-left: 4px solid black;
    margin-left: 10px;
    opacity: 1;
    animation: cursor 1s infinite;
}

@keyframes cursor{
    0%{
        opacity: 0;
    }
}

.ola, .dev{
    font-size: 2em;
}

.ola{
    margin-bottom: 0;
}

.dev{
    margin-top: 0;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
}

.home a{
    text-decoration: none;
}

.botoes{
    display: flex;
    flex-direction: row;
}

.linkedin, .github{
    width: 12em;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    color: black;
    justify-content: center;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 255, 0.6);
    transition: letter-spacing 0.3s ease;
    
}

.linkedin:hover, .github:hover{
    font-weight: 500;
    text-shadow: 5px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.4);
    letter-spacing: 4px;
}

.linkedin svg{
    color: blue;
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
}

.linkedin p{
    margin-right: 0.5em;
}

.github{
    margin-left: 3em;
}

.github svg{
    color: black;
    margin-right: 0.5em;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
}

@media (max-width: 1400px){
    .home img{
        margin-right: 10%;
    }
    .ola, .dev{
        font-size: 1.75em;
    }
    .name{
        font-size: 3em;
    }
    .texto{
        margin-left: 10%;
    }
}

@media (max-width: 1300px){
    .home img{
        height: 65%;
    }
}

@media (max-width: 1200px){
    .home img{
        height: 60%;
    }
}

@media (max-width: 1100px){
    .home img{
        margin-right: 5%;
    }
    .texto{
        margin-left: 5%;
    }
}

@media (max-width: 1000px){
    .home img{
        height: 53%;
    }
}

@media (max-width: 900px){
    .home{
        justify-content: center;
    }
}