.projetos{
    background-color: rgb(189, 189, 189);
    display: flex;
    padding-top: 7vh;
    padding-bottom: 7vh;
    justify-content: center;
}

.projetos h1, .projetos h2{
    font-family: 'Press Start 2P';
    font-weight: 100;
    color: rgb(0, 128, 0);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.projetos h1{
    font-size: 2.5em;
}

.projetos h2{
    font-size: 2em;
}