.copiar{
    width: 300px;
    margin-bottom: 60px;
}

.copiar p{
    font-size: small;
}

.conteudo{
    display: flex;
    background-color: rgb(147, 225, 216);
    border-radius: 10px 10px 0px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.conteudo p{
    margin: 0.75em 0em 0.75em 0em;
    color: black;
}

.copied, .notcopied, .errorcopied{
    border-radius: 0px 0px 10px 10px;
    margin-top: 0.2em;
    width: 100%;
    border: 0px;
    cursor: pointer;
    justify-content: center;
    height: 40px;
}

.notcopied{
    background-color: rgb(2, 128, 144);
}

.notcopied:hover{
    box-shadow: 0px 0px 3px 3px rgb(2, 128, 144);
    letter-spacing: 4px; 
}

.errorcopied{
    color: rgb(191, 33, 30);
}

.copied{
    font-size: 1.1em;
    background-color: rgb(0, 128, 0);
}

.copied p{
    color: white;
}